<div style="text-align: center;">
  <h1>Calculator</h1>
</div>
<div class="makeCenter">
  <table class="table-css">
    <tr class="row">
      <th>S.N.</th>
      <th>Col1</th>
      <th>Col2</th>
      <th>Col1+Col2</th>
      <th>
        <button (click)="add()">+</button>
        <button (click)="delete()">-</button>
      </th>
    </tr>
    <tr *ngFor='let item of arr; index as i' class="row">
      <td>{{i+1}}</td>
      <td><input type="number" (change)="givenNum1($event,i)"></td>
      <td><input type="number" (change)="givenNum2($event,i)"></td>
      <td>{{item.sum}}</td>
      <td><button (click)='deleteAtLocation(i)'>*</button></td>
    </tr>
  </table>
</div>


<!-- <div class="parent blue" >
  <div class="box coral" contenteditable>
    :)
  </div> -->